In [4]:
import os
import pandas as pd

In [2]:
os.chdir("../")

In [5]:
data_train = pd.read_csv('./data/road-train-pre.csv', error_bad_lines=False)
data_test = pd.read_csv('./data/road-test-pre.csv', error_bad_lines=False)

In [6]:
data_train

,eventID,case concept:name,event concept:name,event lifecycle:transition,event time:timestamp
0,504611412639744,S38735,Create Fine,complete,2000-01-01
1,129458904236033,N21963,Payment,complete,2000-01-02
2,508180530462720,S44900,Create Fine,complete,2000-01-02
3,511852727500801,S48998,Payment,complete,2000-01-02
4,508176235495424,S44899,Create Fine,complete,2000-01-02
...,...,...,...,...,...
455366,394213573263368,S136743,Payment,complete,2012-09-01
455367,407064115412999,S142148,Payment,complete,2012-09-01
455368,394020299735047,S136648,Payment,complete,2012-10-01
455369,403443457982470,S140614,Payment,complete,2012-10-01
455370,117342801494023,C21050,Payment,complete,2012-10-01